
<ul selected="true">
  <li>
    Auction: <%= @auction.auction_id %> <br>
    Seller: <%= link_to @auction.seller, seller_path(@auction.seller) %>(<%= @auction.rating %>) <br>
    Price: <%= @auction.current_price %> <br>
    Start Time: <%= @auction.start_time %> <br>
    End Time: <%= @auction.end_time %> <br>
    Time Left: <%= @auction.time_left %> <br>
  </li>
  <li>
  <div class=images>
    <% @auction.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </div>
  </li>
  <li>
  <div id="desc">
    <%= @auction.description.html_safe unless @auction.description.empty? %>
  </div>
  </li>
</ul>